*{
margin:0px;
padding:0px;
font-family:sans-serif;
background-color:#33302f;
}

#menubar
{
	position:fixed;
	/*width:300px;
	height:300px;*/
	background-color:black;
	margin:0px;
	padding:0px;
	display: flex;
}

#menubar.active ul
{
	left:0%;
	display: block;
}
#menubar li:hover
{
	color:black;
	background-color:#7E7B7B;
}
#menubar ul{
	display: none;
	padding-top: 12px;
}
#menubar ul li{
	color:white;
	font-size:15px;
	list-style:none;
	padding:15px;
	border-bottom:1px solid gray;
	text-align:center;
	background-color:black;
}
.toggle-btn
{
	position:relative;
	/*left:105%;
	top:15px;*/
	padding: 12px;
	
}
.toggle-btn:hover{
	background-color:#33302f;
	/*border-radius:50%;*/
	cursor: pointer;
}
.toggle-btn span
{
	display:block;
	
	width:30px;
	height:5px;
	background-color:white;
	margin:5px;
	}

	#box
	{
	background-color:#33302f;
	width:1000px;
	text-align:right;
	height:100px;
	border:none;
	padding:0px;
	font-size:30px;
	color:white;
	font-size:30px;
	text-style:bold;
	}
	#box:hover{
		border:none;
	}
	#box1
	{
	background-color:#33302f;
	width:1000px;
	text-align:right;
	height:30px;
	border:none;
	padding:0px;
	font-size:15px;
	color:gray;
	text-style:bold;
	}
		#box1:hover{
		border:none;
	}
	form
	{
		background-color:#33302f;
		width:1000px;
		height:600px;
		
	}
	#btn1
	{
		width:200px;
		height:90px;
		background-color:#202021;
		color:white;
		border:1px solid #33302f;
		text-style:bold;
		text-align:center;
		font-size:25px;
		padding:0px;

	}
	#btn1:hover{
		background-color:#69696b;
		border:none;
	}
	#btn:hover{
		background-color:#96c0d4;
		border:none;
	}
		#btn
	{
		width:200px;
		height:90px;
		background-color:black;
		color:white;
		border:1px solid #33302f;
		text-style:bold;
		text-align:center;
		font-size:25px;
		padding:0px;
	}

	#txt
	{
		font-size:40px;
		color:white;
		text-align:right;
		padding-bottom:30px;
	}
	a
	{
		border:none;
		text-decoration:none;
	}
	#date1
	{
	background-color:#202021;
	width:700px;
	text-align:right;
	height:70px;
	border:none;
	padding:0px;
	font-size:30px;
	color:gray;
	font-size:30px;
	text-style:bold;
	}
	#date2
	{
	background-color:#202021;
	width:700px;
	text-align:right;
	height:70px;
	border:none;
	padding:0px;
	font-size:30px;
	color:gray;
	font-size:30px;
	text-style:bold;
	}
		#box2
	{
	background-color:#202021;
	width:700px;
	text-align:right;
	height:70px;
	border:none;
	padding:0px;
	font-size:40px;
	color:white;
	text-style:bold;
	}
		#date1:hover
		{
		background-color:#69696b;
		color:black;
	}
		#date2:hover
		{
		background-color:#69696b;
		color:black;
	}   

h2{ color: #4E2C73 blue;
 text-align:center;
 
 display:inline-block;
 padding: 10px 10px ;
 
}
